.company-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background: linear-gradient(to right, #b3d17b, #98b44a);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.company-image img {
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-details {
  flex: 1;
  margin-left: 2rem;
  color: #333;
}

.contact-details h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #1f2937;
  display: inline-block;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  background-color: #ffffffcc;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-item img {
  width: 32px;
  height: 32px;
}